html {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#linkName {
  padding-left: 10px;
}

.navbar-item {
  margin-left: 20px;
}

#scrapeButton,
#clearButton {
  margin-right: 20px;
}

.card-equal-height {
  display: flex;
  flex-direction: column;
  float: left;
}

#header,
#tagline {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#header {
  margin-top: 6rem;
  font-size: 4rem;
}

#tagline {
  font-size: 2rem;
}

.columns {
  margin: 0;
}

.column {
  padding: 0;
}